@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* common */
.btn {
    padding: 12px 16px;
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;

}

.btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 4px 1px #00FF88;
    background: transparent;
    color: #00FF88;
}

header {
    width: 100%;
    max-width: 1600px;
    padding: 24px 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    background-color: #1A0B2E;
    border-bottom: 0.5px solid #321458;
}


.menu-bar {
    visibility: hidden;
}

header nav {
    width: 75%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav .logo {
    font-size: 40px;
    font-weight: bold;
}

header nav .logo li {
    color: #ffffff;
}


header nav .logo li .gradient {
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

header nav .menu {
    font-size: 16px;
    color: #ffffff;
    line-height: 150%;
}

header nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    cursor: pointer;
}

header nav .btn {
    padding: 12px 16px;
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 10000px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

header nav .btn i {
    margin-left: 4px;
}

/* Banner start */
.banner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    height: 800px;
    padding: 101px 525px;
}

.banner .banner_content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .banner_content .banner_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    margin-bottom: 40px;
    border: 10px solid #2A186C;
    box-shadow: 0 0 100px #2A186C;
    animation: borderAnmi 10s ease-in infinite;
    position: relative;
}

.new {
    z-index: 10;
    top: 5px;
    right: 10px;
    position: absolute;
    background-color: #00FF88;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #00FF88;
    padding: 16px;
    outline: none;
    border: none;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
}

@keyframes borderAnmi {
    0% {
        box-shadow: 0 0 10px #2A186C;

    }

    50% {
        box-shadow: 0 0 50px #2A186C;

    }

    100% {
        box-shadow: 0 0 100px #2A186C;

    }

}

.banner .banner_content .banner_icon img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.banner .banner_content .banner_icon img {
    width: 100%;
    max-width: 150px;
    height: auto;
    animation: micScale 5s ease-in-out infinite;
}

@keyframes micScale {
    0% {
        width: 100%;
        transform: scale(1);
        transform: translateX(6px)
    }

    50% {
        width: 90%;
        transform: scale(1.09);
        transform: translateX(-6px)
    }

    100% {
        width: 100%;
        transform: scale(1);
        transform: translateX(6px)
    }
}

.banner .banner_content .banner_text h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
}

.banner .banner_content .banner_text p {
    font-size: 16px;
    color: #ffffff;

}

.banner .banner_content .banner_text .banner_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
}

/* ********************************************************************************
            About Rating
***********************************************************************************/

.about {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px 0 200px;
    width: 100%;
    max-width: 1600px;
    background: #1A0B2E;
    position: relative;
}

.about .about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;

}

.about_line {
    z-index: 1000;
    position: absolute;
    top: 58%;
    left: 20%;
    width: 60%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.about .about_content .about_uper {
    margin-bottom: 80px;
    padding: 0 200px 0;
}

.about .about_content .about_uper h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 16px;

}

.about .about_content .about_uper p {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 20px;
    opacity: 0.8;
}

.about .about_content .about_rating {
    margin-top: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.about_rating .rating_content {
    padding: 0 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.about_rating .rating_content h1 {
    color: #00FF88;
    font-weight: bold;
    font-size: 48px;
}

.about_rating .rating_content p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

}

/* ********************************************************************************
            Podcast start
***********************************************************************************/
.podcast {
    overflow: hidden;
    width: 100%;
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 200px;
    background-color: #1A0B2E;
    gap: 60px;
}

.podcast .podcast_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.podcast .podcast_top h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
}

.podcast .podcast_top .podcast_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.podcast .podcast_top .podcast_content .podcast_video {
    overflow: hidden;
    width: 100%;
    max-width: 380px;
    height: 440px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #250D44;
}

.podcast .podcast_top .podcast_content .podcast_video iframe {
    border: none;
    width: 100%;
}

.podcast .podcast_top .podcast_content .podcast_video h2 {
    padding: 24px 24px 12px 24px;
    font-size: 24px;
    font-weight: bold;
    color: #FAFAFA;
}

.podcast .podcast_top .podcast_content .podcast_video p {
    opacity: 0.6;
    font-style: normal;
    padding: 12px 24px 12px 24px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FAFAFA;
}

.podcast .podcast_top .podcast_content .podcast_video .time {
    color: #00FF88;
    text-align: left;
}

/* <i class="fa-solid fa-play"></i> */
.podcast .podcast_top .podcast_content .podcast_video .time .fa-clock {
    margin-right: 6px;
    text-align: left;
}

.podcast .podcast_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.podcast .podcast_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.podcast .podcast_bottom .podcast_btt_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}

.podcast .podcast_bottom .podcast_btt_content .podcast_image img {
    width: 100%;
    height: auto;
}

.podcast .podcast_bottom .podcast_btt_content .podcast_info h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}

.podcast .podcast_bottom .podcast_btt_content .podcast_info p {
    opacity: 0.6;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.podcast .podcast_bottom .podcast_btt_content .podcast_info ul {
    display: flex;
    align-items: center;
    /* color: #ffffff; */
    text-align: left;
    font-size: 1rem;
    gap: 5px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}

.icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* color: white; */
    border: 1px solid rgba(83, 60, 114, 1);
}

.podcast .podcast_bottom h2 {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

/* ********************************************************************************
            Grid-Area
***********************************************************************************/

.info {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: #230E3D;
    color: #ffffff;
    padding: 120px 200px;
}

.info h1 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 120px 200px;
    text-align: center;
    margin-bottom: 40px;

}

.info .grid {
    max-width: 1200px;
    border-radius: 20px;
    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    /* height: 273px; */
    gap: 20px;
}

.big {
    grid-column: 1 / span 3;
    grid-row: 1 /span 2;
}

.big-vertical {
    grid-column: 4 / span 6;
}

.big-left {
    grid-column: 1 / span 4;
}

.small {
    grid-column: 5 / span 6;
}

.big {
    padding: 100px 40px;
}

.big-vertical {
    padding: 40px;
}

.big-left {
    padding: 40px;
}

.small {
    padding: 40px 0 40px 40px;
}

*/ .info .grid h3 {
    margin-top: 16px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.info .grid p {
    margin-top: 16px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.info .grid>div {
    display: block;
    padding-left: 40px;
    text-align: left;
    border-radius: 20px;
    background: #351165;

}










/* ********************************************************************************
            footer start
***********************************************************************************/

.footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.footer .footer_content {
    text-align: center;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .footer_content h1 {
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 25px;
}


.footer .footer_content ul {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 16px;
    color: #FAFAFA;
    /* margin-bottom: 24px; */
}

.footer .footer_content ul li a {
    color: #ffffff;
}

.footer .footer_content ul li {
    flex-grow: 1;
}

.footer .footer_content p {
    opacity: 0.6;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 24px;

}

.fav {
    margin-right: 8px;
    color: #ffffff;
}

.footer .gradient {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ********************************************************************************
            footer end
***********************************************************************************/


/* ********************************************************************************
            MOBILE  Layout
***********************************************************************************/
@media screen and (max-width:576px) {
    header {
        display: none;
        width: 100%;
        max-width: 575px;
        padding: 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        background-color: #1A0B2E;
    }


    .menu-bar {
        font-size: 28px;
        color: #ffffff;
        visibility: visible;
    }

    header nav {
        padding: 20px;
        width: 100%;
        max-width: 576px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    header nav .logo {
        font-size: 32px;
        font-weight: bold;
    }



    header nav .menu {
        display: none;
    }



    header nav .btn {
        display: none;
    }

    /* bannr start */
    .banner {
        width: 100%;
        height: auto;
        max-width: 576px;
        padding: 40px 20px;
    }


    .banner .banner_content .banner_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 70px auto;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        margin-bottom: 40px;

    }

    .banner .banner_content .banner_icon img {
        width: 100%;
        max-width: 75px;
        height: auto;
    }


    .banner .banner_content .banner_text h1 {
        font-size: 40px;

    }

    .banner .banner_content .banner_text p {
        opacity: 0.6;

    }



    .about {
        padding: 20px 10px 0 10px;
    }

    .about .about_content {
        margin-bottom: 40px;
    }

    .about_line {
        top: 48%;
        left: 10%;
        width: 80%;
        height: 2px;

    }

    .about .about_content .about_uper {
        margin-bottom: 20px;
        padding: 0 20px 0;
    }

    .about .about_content .about_uper h1 {
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 4px;
    }

    .about .about_content .about_uper p {
        font-size: 16px;
        color: #ffffff;
        line-height: 20px;
    }

    .about_rating {
        margin-top: 20px;
        padding: 0 20px;
        display: flex;
        gap: 10px;
    }

    .about_rating .rating_content {
        padding: 0 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

    }

    .about_rating .rating_content h1 {
        color: #00FF88;
        font-weight: bold;
        font-size: 40px;
    }

    .about_rating .rating_content p {
        color: #ffffff;
        opacity: 0.8;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;

    }

    /***************************************************************************************
     info
     ************************************************************************************* */
    .info {
        max-width: 576px;

        color: #ffffff;
        padding: 20px 30px;
    }

    .info h1 {
        font-size: 32px;
        padding-top: 20px;
        ;
        margin-bottom: 20px;

    }

    .info .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    .big,
    .big-vertical,
    .big-left,
    .small {
        padding: 20px;
    }

    /***************************************************************************************
     Podcust
     ************************************************************************************* */

    .podcast {
        padding: 40px 20px;
        gap: 30px;

    }

    .podcast .podcast_top {
        padding: 0;
        gap: 16px;
    }

    .podcast .podcast_top h1 {
        font-size: 2rem;
    }

    .podcast .podcast_top .podcast_content {
        /* flex-direction: row; */
        flex-wrap: wrap;
        gap: 30px;
    }

    .podcast .podcast_top .podcast_content .podcast_video {
        max-width: 100%;
    }

    .podcast .podcast_top .podcast_content .podcast_video h2 {
        font-size: 20px;
    }

    .podcast .podcast_top .podcast_content .podcast_video p {
        font-size: 16px;
    }

    .podcast .podcast_top .podcast_content .podcast_video .time {
        color: #00FF88;
        text-align: left;
    }

    /* <i class="fa-solid fa-play"></i> */
    .podcast .podcast_top .podcast_content .podcast_video .time .fa-clock {
        margin-right: 6px;
        text-align: left;
    }

    .podcast .podcast_bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .podcast .podcast_bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .podcast .podcast_bottom .podcast_btt_content {
        flex-direction: column;
        gap: 16px;
        padding: 20px;

    }

    .podcast .podcast_bottom h2 {
        margin-bottom: 25px;

    }



    .podcast .podcast_bottom .podcast_btt_content .podcast_info h2 {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        text-align: center;
    }



    .podcast .podcast_bottom .podcast_btt_content .podcast_info ul {
        justify-content: center;

    }

    /***************************************************************************************
     footer
     ************************************************************************************* */

    .footer {
        width: 100%;
        max-width: 576px;
    }

    .footer .footer_content {
        /* margin: 0 auto; */
        padding: 40px 20px;
    }

    .footer .footer_content h1 {
        margin: 0 90.5px 0 90.5px;
        font-size: 4rem;

    }

    .footer .footer_content ul {
        font-size: 24px;
        padding: 0 72px 0 72px;
        gap: 5px;
    }


    .footer .footer_content ul li {
        flex-grow: 0;
    }

    /***************************************************************************************
     Podcust
     ************************************************************************************* */





}